.features{
  &__title--visually-hidden {
position: absolute;
clip: rect(0 0 0 0);
width: 1px;
height: 1px;
margin: -1px;
}

&__item{
display: flex;
}

&__list {
display: flex;
}

&__content:not(:last-child) {
margin-right: 30px;
}

  &__icons {
background-color: $features__icons-background-color;
height: 120px;
display: flex;
justify-content: center;
align-items: center;
 }

&__name {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: $title-text-color;
      
margin-top: 30px;
margin-bottom: 10px;
}

&__text {
line-height: 1.71;
margin: 0;
}
}